<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Online Cinema</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/style.css">
</head> 
<body>
    <nav class="navbar navbar-light bg-white fixed-top navbar-expand-md border border-dark">
        <div class="container-fluid">
			<a class="navbar-brand" href="/app/index.html">Online Cinema</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-md-flex justify-content-md-end">
                <div class="collapse navbar-collapse" id="navbarContent">
                    <div class="navbar-nav me-1 mb-lg-0">
                        <a class="nav-item mx-2 my-1" href="/app/index.html">
                            <span class="btn btn-white border border-dark">Home</span>
                        </a>
                        <a class="nav-item mx-2 my-1" href="/auth/register.html">
							<span class="btn btn-white border border-dark">Register</span>
                            <!--
								@if (Session["User"] != null) 
									@Html.ActionLink("My Movies", "Movie", "User", null, new { @class = "btn btn-white border border-dark" })
								else
									@Html.ActionLink("Register", "Register", "User", null, new { @class = "btn btn-white border border-dark" })
							-->
                        </a>
                        <a class="nav-item mx-2 my-1" href="/auth/login.html">
							<span class="btn btn-white border border-dark">Login</span>
							<!--
								@if (Session["User"] != null)
									@Html.ActionLink("Logout", "Logout", "User", null, new { @class = "btn btn-outline-danger" })
								else
									@Html.ActionLink("Login", "Login", "User", null, new { @class = "btn btn-white border border-dark" })
							-->
                        </a>
                        <form class="ms-2 mt-1" action="javascript:void(0)" onsubmit="search()">
                            <div class="input-group mb-1">
                                <input id="searchKeyword" class="form-control border border-dark" required>
                                <button type="submit" class="btn btn-white border border-dark">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content pt-4-half pb-5">

        <div class="row mt-5 mb-5 justify-content-center" id="movieDetails">
            <div class="col-md-3 text-center">
                <!-- <img src="file://C:/Users/piete/Pictures/parasite-poster.jpg" style="width:95%" /> -->
                <h4 class=""><b>Star Wars: Rise of Skywalker</b></h4>
                <h5 class="">George Lucas</h5>
                <h4 class="mb-3">5.0 ⭐</h4>
                <div class="input-group justify-content-center">
                    <span class="input-group-text border border-dark bg-white">Rp 5,000</span>
                    <button type="submit" class="btn btn-white border border-dark">Buy Now</button>
                </div>
            </div>
            <div class="offset-md-1 col-md-8">
                <p class="fs-5 mb-1"><b>Synopsis</b></p>
                <p class="fs-6 mb-1">After his retirement is interrupted by Gorr the God Butcher, a galactic killer who seeks the extinction of the gods, Thor Odinson enlists the help of King Valkyrie, Korg, and ex-girlfriend Jane Foster, who now wields Mjolnir as the Mighty Thor. Together they embark upon a harrowing cosmic adventure.</p>
                <p class="fs-5 mb-1 mt-2"><b>Trailer</b></p>
                <div class="row justify-content-center">
                    <div class="col-auto ratio ratio-16x9" style="width:95%">
                        <!-- <iframe src="file://C:/Users/piete/Videos/stock_nightsky.mp4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 mb-3">
            <div class="col-6">
                <div id="ratingForm">
                    <form class="row justify-content-center px-5 mt-3 mb-4" action="javascript:void(0)" onsubmit="addRating()">
                        <h1 id="rating" class="text-center mb-4">⭐⭐⭐⭐⭐</h1>
                        <textarea id="review" class="border border-dark form-control text-center w-75 py-4-half mb-3" maxlength="300" placeholder="Write your review here..." required></textarea>
                        <button class="border border-dark btn btn-white w-75" type="submit">Submit</button>
                    </form>
                </div>
                <div id="ratingRow" class="row">
                    <div id="myRating" class="col-auto mx-1 mb-1">
<!--
                        <div class="row mb-1">
                            <span class="col-6 fs-5 text-start">Yurianika Yolanda</span>
                            <span class="col-6 fs-5 text-end">
                                2.0 ⭐
                                <button id="popover" type="button" class="btn btn-white border border-white p-0" data-bs-toggle="popover" data-bs-html="true" data-bs-placement="right" 
                                data-bs-content="
                                    <div class='row px-2 text-center py-0'>
                                        <span style='cursor: pointer' class='my-1' onclick='loadEditRatingForm()'>Edit</span>
                                        <hr class='my-1' />
                                        <span style='cursor: pointer' class='my-1' onclick='deleteRating()'>Delete</span>
                                    </div>
                                ">
                                        <img class="d-flex justify-content-center" src="../../resources/icons/three-dots-vertical.svg" alt="Menu">
                                    </button>
                                </button>
                            </span>
                            
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit ligula, posuere a justo malesuada</p>
-->
                    </div>
                    <hr id="myRatingSeparator" style="display: none" />
<!--
                    <div class="col-auto mx-1 mb-1">
                        <div class="row mb-1 mb-1">
                            <span class="col-6 fs-5 text-start">User Name</span>
                            <span class="col-6 fs-5 text-end">5.0 ⭐&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit ligula, posuere a justo malesuada. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit ligula, posuere a justo malesuada. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit ligula, posuere a justo malesuada.
                        </p>
                    </div>
                    <hr />
                    <div class="col-auto mx-1 mb-1">
                        <div class="row mb-1">
                            <span class="col-6 fs-5 text-start">Pieter Irsan</span>
                            <span class="col-6 fs-5 text-end">4.0 ⭐&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit ligula, posuere a justo malesuada
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit ligula, posuere a justo malesuada. 
                        </p>
                    </div>
                    <hr />
                    <div class="col-auto mx-1 mb-1">
                        <div class="row mb-1">
                            <span class="col-6 fs-5 text-start">Yurianika Yolanda</span>
                            <span class="col-6 fs-5 text-end">2.0 ⭐&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum elit ligula, posuere a justo malesuada</p>
                    </div>
                    <hr />
-->
                </div>
            </div>            
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="movie.js"></script>
    <script src="/resources/js/script.js"></script>
    <script>
        const popover = new bootstrap.Popover(document.getElementById("popover"), { trigger: 'focus' });
    </script>
</body>
</html>